<!DOCTYPE html>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-4">
      <div class="">

        <img ng-src="{{ profile.user.imageSRC }}" alt="profile.user.imageSRC" class="profileImage">

        <button ng-if="main.isAuthenticated() && main.currentUser.id === profile.user.id" class="button primary" ui-sref="profileEdit({id: profile.user.id})"> Edit </button>

        <button class="button secondary margin" ng-if="main.isAuthenticated() && main.currentUser.id=== profile.user.id" ng-click="main.logout()"> Logout </button>

        <div class="bio">
          <span> About</span>
          <p>{{ profile.user.bio}}</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-8 col-lg-7">

      <h2 ng-if="profile.user"> {{ profile.user.username }}  – <span> {{ profile.user.firstname }}, {{ profile.user.lastname }}</span></h2>
      <h3>User Reviews</h3>




    </div>
  </div>
  <div class="row">
    <div class="col-lg-10">
      <ul>
        <li class="col-lg-3 col-md-12 col-sm-12 " ng-repeat="item in profile.user.items">
          <img class="profile-item-image" ng-src="{{ item.image_src }}">
          <a ui-sref="ItemsShowCtrl({ id: item.id })">  <p> {{item.title}}</p></a>
          <p> {{item.short_description |  limitTo:50}}</p>
              <button ng-click="profile.delete(item)">Delete</button>
          <button ui-sref="itemsEdit({id: item.id})" ng-if="main.isAuthenticated() ">Edit</button>
        </li>
      </ul>


    </div>

  </div>
</div>
