<!DOCTYPE html>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-4">
      <div class="">

        <img ng-src="{{ profile.user.imageSRC }}" alt="profile.user.imageSRC" class="profileImage">

        <button ng-if="main.isAuthenticated() && main.currentUser.id === profile.user.id" class="button primary" ui-sref="profileEdit({id: profile.user.id})"> Edit </button>

        <button class="button secondary margin" ng-if="main.isAuthenticated() && main.currentUser.id=== profile.user.id" ng-click="main.logout()"> Logout </button>

        <div class="bio">
          <span> About</span>
          <p>{{ profile.user.bio}}</p>
        </div>
      </div>
    </div>

    <ul>
      <li class="col-lg-4 col-md-6 col-sm-12 " ng-repeat="user in profile">

        <li ng-repeat="item in user">
          <p>here {{item}}</p>
        </li>

      </li>
    </ul>

    <div class="col-12 col-md-8 col-lg-7">

      <h2 ng-if="profile.user"> {{ profile.user.username }}  – <span> {{ profile.user.firstname }}, {{ profile.user.lastname }}</span></h2>


      <!--
      <div class="rating">
      <div style="margin:15px 0;">Total User rating: <b>{{profile.user.averageRating}}</b></div>
      <span uib-rating ng-model="profile.user.averageRating" read-only="true" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" aria-labelledby="custom-icons-1" max="10" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']"></span>
    </div> -->



    <h3>User Reviews</h3>




  </div>
</div>
</div>
