body {
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
}

nav {
  background-color: black;
  height: 25px;
  padding-right: 30px;
  padding-left: 30px;

  ul {

    li {
      padding-top: 7px;
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;

      //
      line-height: 12px;
      text-transform: uppercase;
      letter-spacing: 3px;
      // font-weight: bold;

      a {

        color: white;
        text-decoration: none !important;
        padding: 10px;
        transition: 0.2s ease;

        &:focus, &:hover {
          color: lighten(#404040, 10%);

        }


      }
    }
    li:nth-child(4){
      float: right;
    }
    li:nth-child(5){
      float: right;
    }
    a:hover {
      padding-top: 8px;
      padding-bottom: 8px;
      background-color: white;


    }
  }
}
.image-index {
  position: relative;

  // width:  2px;
  max-height: 150px;
  max-width: 200px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

.index-items {
  margin: 0;
  .item {
    button {
      position: absolute;
      bottom: 0;
      left: 30%;
      background-color: rgba(0, 78, 79, 0.5);
      border: none;
      border-radius: 2px;
      margin-bottom: 15px;
      color: rgba(227, 229, 227, 1);
      color: white;
    }
    button:hover{
      background-color: rgba(0, 78, 79, 1);
    }
    border: 1px solid rgba(0, 78, 79, 1);
    padding: 15px;
    text-align: center;
    background-color: rgba(196, 144, 99, 0.5);
    border-radius: 5px;
    height: 350px;
    margin: 10px 0;


  }

  ul {
    list-style-type: none;
  }

}
.searchBox {
  //hoooooooow?
  border: 1px solid black;
  border-radius: 1px;
  width: 150px;
  height: 30px;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;

}

form {
  .button {
    position: absolute;
    bottom: 0;
    left: 35%;
    background-color: rgba(0, 78, 79, 0.5);
    border: none;
    border-radius: 2px;
    margin-bottom: 15px;
    color: rgba(227, 229, 227, 1);
  }
}
.submit-form {
  border: 1px solid rgba(0, 78, 79, 1);
  padding: 15px;

  background-color: rgba(196, 144, 99, 0.5);
  border-radius: 5px;

  margin: 10px 0;
  input {
    float: right;
  }
  select {
    float: right;
  }

}
.show-row {
  margin-top: 15px;

  .show-text {

    margin-top: 15px;
    text-align: center;
    background-color: rgba(0, 78, 79, 0.2);
    border: 1px solid;
  }
  .description-show {
    background-color: rgba(0, 78, 79, 0.2);
    border: 1px solid;
  }
}
.image-show {

  img {
    max-height: 400px;
  }
}
.profile-item-image {
  max-height: 100px;
}
