<!DOCTYPE html>


<div class="container">
  <div class="row">
    <div class="searchBox col-lg-4 col-lg-offset-5 ">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input type="text" class="searchBox" ng-model="itemsIndex.q" placeholder="Search.... ">
    </div>
  </div>

  <div class="row index-items ">


    <ul>


      <li class="col-lg-4 col-md-6 col-sm-12 " ng-repeat="item in itemsIndex.filtered">
        <div class="item">
          <h3>{{ item.title}}</h3>
          <img class="image-index justify-content-center" ng-src="{{ item.image_src }}">
          <h4>{{ item.sub_type}}</h4>
          <h5>{{ item.price}}</h5>
          <button ui-sref="itemsShow({id: item.id})">Lets check it out</button>
        </div>
      </li>

    </ul>
  </div>

</div>
