<!DOCTYPE html>
<div class="row">
  <div class="col-md-6">
    <form ng-submit="itemsNew.create()">

      <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" ng-model="itemsNew.item.title">
      </div>
      <div>
      <label for="base64">Image</label>
      <input type="file" base64 name="base64" id="base64" ng-model="itemsNew.item.base64">
    </div>


      <div>
        <label for="brand">Brand</label>
        <input type="text" id="brand" name="brand" ng-model="itemsNew.item.brand">
      </div>
      <div>
          <label>Type</label>
          <select ng-model="itemsNew.item.super_type">
            <option value="Hardware">Hardware</option>
            <option value="Accessories">Accessories</option>
          </select>
      </div>
      <div>
          <label>Sub type</label>
          <select ng-show="itemsNew.item.super_type=='Hardware'" ng-model="itemsNew.item.sub_type">
            <option value="Motherboard">Motherboard</option>
            <option value="CPU">CPU</option>
            <option value="GPU">GPU</option>
            <option value="RAM">RAM</option>
            <option value="Power Supply">Power Supply</option>
            <option value="Other">Other</option>
          </select>
          <select ng-show="itemsNew.item.super_type=='Accessories'" ng-model="itemsNew.item.sub_type">
            <option value="Monitor">Monitor</option>
            <option value="Mouse">Mouse</option>
            <option value="Cables">Cables</option>
            <option value="VR">VR</option>
            <option value="RGB lighting">RGB lighting</option>
            <option value="Gamepad">Gamepad</option>
            <option value="Keyboard">Keyboard</option>
            <option value="Other">Other</option>
          </select>
      </div>
      <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="location" ng-model="itemsNew.item.location">
      </div>
      <div>
        <label for="short_description">Short Description</label>
        <input type="text" id="short_description" name="short_description" ng-model="itemsNew.item.short_description">
      </div>
      <div>
        <label for="full_description">Full Description</label>
        <input type="text" id="full_description" name="full_description" ng-model="itemsNew.item.full_description">
      </div>
      <div>
        <label for="price">Price</label>
        <input type="text" id="price" name="price" ng-model="itemsNew.item.price">
      </div>
      <button>Create</button>

    </form>
  </div>
</div>
