<!DOCTYPE html>
<div class="container">


  <div class="row show-row">
    <div class="col-lf-10 col-md-offset-3">
      <div class="item">
        <div class="col-lg-5 image-show">
          <img ng-src="{{ itemsShow.item.image_src }}">
        </div>
        <div class="col-lg-5 description-show">
          <div class="col-lg-10">
            <h2><strong> {{ itemsShow.item.title }} </strong></h2>

            <h3><strong>Location: </strong>{{ itemsShow.item.location }}</h3>
            <h3><strong>Brand: </strong>{{ itemsShow.item.brand}}</h3>
            <h3><strong>Type: </strong>{{ itemsShow.item.super_type}}</h3>
            <h3><strong>Sub_type: </strong>{{ itemsShow.item.sub_type}}</h3>

            <h4><strong>Specs: </strong>{{ itemsShow.item.short_description  }}</h4>

            <h4><strong>Price: </strong>{{ itemsShow.item.price  }}</h4>

            <p>Created by: <strong><a ui-sref="profile({ id: itemsShow.item.user.id })">{{ itemsShow.item.user.username }}</a></strong></p>
            <button ui-sref="itemsEdit({id: itemsShow.item.id})" ng-if="main.isAuthenticated() && main.currentUser.id === itemsShow.item.user.id">Edit</button>
            <button ng-click="itemsShow.delete()" ng-if="main.isAuthenticated() && main.currentUser.id === itemsShow.item.user.id">Delete</button>

            <button ng-click="itemsShow.contact( main.currentUser.id, itemsShow.item.user.id)" ng-if="main.isAuthenticated() && main.currentUser.id !== itemsShow.item.user.id">Message the seller</button>

          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row show-row">
    <div class="col-lg-12 ">
      <div class="col-lg-10 col-lg-offset-1 show-text">
        <h4>{{ itemsShow.item.full_description  }}</h4>
      </div>
    </div>
  </div>

</div>
